<h2 style="text-align: center; opacity: .8; font-size: 2.2rem;">Website Developer</h2>
<br><br>

<div class="card ">
  <img class="card__image" src="https://scontent.fdel12-1.fna.fbcdn.net/v/t1.0-9/14317415_172737273166636_6982453936609280027_n.jpg?_nc_cat=102&ccb=2&_nc_sid=174925&_nc_ohc=z0clrz-KaAcAX97UIoF&_nc_ht=scontent.fdel12-1.fna&oh=9581cdd461f0e27ece089f8411efb331&oe=5FB577DD">
  <h1>Gautam Sharma</h1>
  <p class="title">CEO & Founder, MergeVideosOnline.com</p>
  <p>India</p>
  <div style="margin: 24px 0;">
    <a target="_blank" href="https://www.youtube.com/c/CodingShiksha/"><i class="fa fa-youtube fa-icons"></i></a> 
    <a target="_blank" href="https://www.instagram.com/codingshiksha/"><i class="fa fa-instagram fa-icons"></i></a>  
    <a target="_blank" href="https://www.facebook.com/geekygautam1997"><i class="fa fa-facebook fa-icons"></i></a> 
  </div>
</div>
<br><br><br><br>
